class BaseConfig:
    # 基础配置
    IP = "0.0.0.0"
    PORT = 8080
    # 免鉴权的地址
    UNPROTECTED_ROUTES = [
        "/api/v1/auth/login",
        "/api/wecom/"
    ]

    MODEL_PATH = "BAAI/bge-m3"  # 配置你的embedding模型地址
    LLM_MODEL_PATH = "THUDM/chatglm3-6b"  # 配置大语言模型路径
    RERANKER_MODEL_PATH = "BAAI/bge-reranker-large"  # 配置重排序模型路径

    DB_PATH = "./data/database/sqlite.db"  # 配置进行数据备份和记录用户信息的本地数据库文件，默认：./data/database/sqlite.db
    INDEX_PATH = "./data/store"  # 配置你向量文件存储路径，默认：./data/store

    # 企业微信相关配置项，留空默认不开始该部分
    # AGENT_ID="" # 企业微信，应用的ID
    # TOKEN="" # 企业微信，应用的密钥
    # ENCODING_AES_KEY="" # 企业微信，应用的解密口令
    # CORP_ID="" # 企业ID
    # CORP_SECRET="" # 企业密钥

    DEFAULT_TAGS = ['通用']

    EMBEDDING_QUERY_INSTRUCTION = "为这个句子生成表示以用于检索相关文章："

    GLM_TOOLS = [
        {
            "name": "predict_intent",
            "description": "分类用户需求",
            "parameters": {
                "type": "object",
                "properties": {
                    "symbol": {
                        "description": "分类用户的需求（问路、联系方式、其他）"
                    }
                },
                "required": ['symbol']
            }
        }
    ]

    GLM_TOOLS_PROMPT = "Answer the following questions as best as you can. You have access to the following tools:"

    LLM_CHAT_PROMPT = "<问题>{}</问题>"

    LLM_SYSTEM_PROMPT = "<指令>根据已知信息，简洁和专业的来回答问题。如果无法从中得到答案，请说 “根据已知信息无法回答该问题”，如果未查询到有关信息，请说 “未查询到有关信息”。不允许在答案中添加编造成分，答案请使用中文。 </指令>\n<已知信息>{}</已知信息>"
    # 该信息为检索不到文档时填充至 LLM_SYSTEM_PROMPT 的已知信息
    LLM_SYSTEM_PROMPT_FILLNON = "未查询到有关信息"

    # 返回内容配置项
    # 该部分不允许留空
    RESPONSE_DOCUMENT_SEARCH_SUCCESS = "文档检索成功"
    RESPONSE_DOCUMENT_UPDATE_SUCCESS = "文档修改成功"
    RESPONSE_DOCUMENT_UPDATE_FAIL = "文档修改失败"
    RESPONSE_DOCUMENT_REMOVE_SUCCESS = "文档删除成功"
    RESPONSE_DOCUMENT_REMOVE_FAIL = "文档删除失败"
    RESPONSE_DOCUMENT_ADD_SUCCESS = "文档添加成功"
    RESPONSE_WECOM_DEFAULT = "请求成功"  # 该信息无必要不修改，仅在启用企业微信功能下生效
    RESPONSE_LOGIN_SUCCESS = "登录成功"
    RESPONSE_LOGIN_FAILED = "登录失败"
    RESPONSE_LOGIN_INVALID_CREDENTIALS = "无效的凭据"
    RESPONSE_UNKNOWN_ERROR = "出现未知错误"
    RESPONSE_CATCH_ERROR = "捕获到错误: {}"
    RESPONSE_LLM_MODEL_PATH_NOT_FOUND  = "未找到大语言模型"
    WECOM_APP_ERROR_MESSAGE = "处理信息时出现问题，请稍后重试。"
    WECOM_AI_GENERATED_NOTICE = "注意：未检索到相关信息，内容由AI生成，可能不准确。"